@font-face {
    font-family: "Narnia";
    src: url("fonts/NARNIABLL-2ODV.TTF") format("truetype");
}

@font-face {
    font-family: "Curly";
    src: url("fonts/ANANDABLACKPERSONALUSEREGULAR-RG9RX.TTF") format("truetype");
}

:root {
    --titles: "Narnia", sans-serif;
    --pageHeads: "Curly", serif;
    --headerColor: rgb(180, 2, 2);
    --headerSize: 12px;
    --text: Georgia, 'Times New Roman', Times, serif;
    --lists: "Cinzel", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/marble-bg.jpg);
    background-repeat: repeat;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#table {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/table.jpg);
    border-radius: 90%;
    height: 31.25rem;
    width: 31.25rem;
    border: 3px outset rgba(17, 8, 1, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

#book {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 12.5rem;
    width: 9.375rem;
    user-select: none;
}


/*----Front and Back Covers----*/
#cover,
#back-cover {
    position: absolute;
    background-image: url(images/grungy-front-book-cover-3.jpg);
    background-size: cover;
    border: 2px solid rgb(54, 22, 0);
    border-radius: 2px 10px 10px 2px;
    color: #fdecc9;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}


#book.hoverOn:hover #cover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .6);
}

#card.hoverOn:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .6);
}

/*------Front Cover------*/

#cover {
    z-index: 10;
    height: 12.1rem;
    width: 9rem;
    font-family: var(--titles);
    font-size: 1.1rem;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000000da,
    1px -1px 0 #000000da,
    -1px 1px 0 #000000da,
    1px 1px 0 #000000da;
}

#title {
    position: relative;
    top: 12%;
    left: 5%;
    border-bottom: 2px outset #fdecc9;
}

#logo {
    padding: 5px;
}


    /*------Back Cover------*/
    #back-cover {
        display: flex;
        justify-content: center;
        z-index: 2;
        height: 12rem;
        width: 9rem;

    }

    #sleeve {
        position: absolute;
        background-image: url("images/sleeve.png");
        background-size: 100%;
        transform: scaleY(-1);
        border-radius: 5%;
        border-bottom: 2px solid rgb(61, 30, 4);
        height: 2rem;
        width: 4rem;
        bottom: 20%;
        left: 33%;
        z-index: 5;

    }


    #card {
        display: block;
        position: absolute;
        background-color: white;
        border: 1px outset rgb(221, 221, 221);
        bottom: 21%;
        left: 34.5%;
        height: 35px;
        width: 58px;
        text-align: center;
        color: black;
        z-index: 4;
    }


#card h1 {
    font-family: var(--lists);
    font-size: 5px;
    color: var(--headerColor);
    margin-top: 6px;
    margin-bottom: 4px;
    line-height: 1;
}

#card h2 {
    font-family: var(--text);
    font-size: 4px;
    font-weight: lighter;
    color: black;
    }





    /*----Pages----*/
    .page {
        position: absolute;
        background-image: url("images/page.png");
        background-size: cover;
        height: 11.7rem;
        width: 8.5rem;
        /* z-index: 11; */
        margin-left: 3px;
        border-radius: 2px;
    }

.page span {
        position: absolute;
        bottom: 6%;
        left: 48%;
        font-size: 12px;
        color: var(--headerColor);
    }

.flipside {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}


h1:not(.card) {
    font-family: var(--pageHeads);
    color: var(--headerColor);
    font-size: var(--headerSize);
    padding-top: 1rem;
}



/*----Page One----*/

#one {
z-index: 9;
}

#p1 {
    display: block;
}


/* p1: Table of Contents */
#p1 h1 {
    display: flex;
    justify-content: center;
    padding-left: 5px;
}

#p1 ul {
    padding-left: 25px;
    padding-top: 5px;
    font-size: 8px;
    font-family: var(--lists);
    list-style-type: none;
    line-height: 1.7;
}

#p1 li:hover {
    text-decoration: underline;
    color: rgb(116, 56, 1);
}


/* p2: About */

#p2 {
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-left: 4px; */
}

#p2 h1 {
    padding-right: 8px;
}

#p2 img {
    margin: 5px;
    border: 2px solid rgb(240, 178, 7);
}

#p2 h2 {
    position: relative;
    padding-right: 5px;
    font-size: 8px;
    font-family: var(--lists);
    text-align: center;
    color:rgb(54, 22, 0);
}




/*----Page Two----*/

#two {
    z-index: 8;
}

#p3 {
    display: block;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 15px;
}


/* p3: Bio */
#p3 h3 {
    line-height: 1.3;
    font-family: var(--text);
    font-weight:lighter;
    font-size: 6px;
    text-align: center;
}

/* p4: Education */

#p4 {
    display: none;
}

#p4 h1 {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
}

#p4 ul {
    font-size: 8px;
    font-family: var(--lists);
    margin-left: 25px;
}

#p4 li {
    line-height: 2;
}

ul #outer {
    font-size: 8px!important;
}

ul .inner {
    font-size: 6px!important;
}




/*----Page Three----*/

#three {
    z-index: 7;
}


/* p5: Resume */

#p5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#p5 h3 {
        font-size: 10px;
        text-align: center;
        padding: 16px;
      }

    a {
    position: absolute;
    bottom: 15%;
    font-size: 10px;
    color: crimson;
}

a:hover {
    font-size: 10px;
    color: maroon;
    text-decoration: none;
}


/* p6: Projects */

#p6 {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }



  /*----Page Four----*/

#four {
    z-index: 6;
}

/* p7: Social Media */

#p7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }


/* Page 4, Side 2: Planned Updates */

#p8 {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

#p8 h3 {
  font-size: 10px;
  text-align: center;
}

#p8 ul {
    font-size: 8px;
    font-family: var(--lists);
    list-style-type: circle;
    line-height: 1.2;
    margin-top: 5px;
    margin-left: 15px;
}



/*----Buttons----*/

.buttonBox {
    position: absolute;
    bottom: 10%;
}

button {
    height: 50px;
    width: 200px;
    margin: 30px;
    font-size: 18px;
    font-family: var(--titles);
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
    user-select: none;
}




.forward {
    color: white;
    background-color: red;
    border: 4px inset maroon;
    font-size: 20px;
}

.forward:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .6);
    text-decoration: underline;
    text-underline-offset: .2rem;
}

.forward:active {
    background-color: rgb(255, 68, 68);
    border: 4px inset rgb(175, 175, 175);
}

.forward:disabled {
    box-shadow: none;
    background-color: grey;
    border: 2px solid rgb(78, 78, 78);
    color: rgb(68, 68, 68);
    font-weight:normal;
    text-decoration: none;
}

.forward:disabled:active {
    box-shadow: none;
    background-color: grey;
    border: 2px solid rgb(78, 78, 78);
    color: rgb(68, 68, 68);
    font-weight:normal;
    text-decoration: none;
}

.back {
    background-color: white;
    color: red;
    border: 4px inset grey;
    font-size: 20px;
    font-weight: bold;
}

.back:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .6);
    text-decoration: underline;
    text-underline-offset: .2rem;
}

.back:active {
    background-color: rgb(192, 192, 192);
    border: 4px inset rgb(85, 85, 85);
}

.back:disabled {
    box-shadow: none;
    background-color: grey;
    border: 2px solid rgb(78, 78, 78);
    color: rgb(68, 68, 68);
    font-weight:normal;
    text-decoration: none;
}

.back:disabled:active {
    box-shadow: none;
    background-color: grey;
    border: 2px solid rgb(78, 78, 78);
    color: rgb(68, 68, 68);
    font-weight:normal;
    text-decoration: none;
}

#turnCover {
    display: none;
}

#goBack1 {
    display: none;
}

#turnPage1 {
    display: none;
}

#goBack2 {
    display: none;
}

#turnPage2 {
    display: none;
}

#goBack3 {
    display: none;
}

#turnPage3 {
    display: none;
}

#goBack4 {
    display: none;
}

#turnPage4 {
    display: none;
}

#goBack5 {
    display: none;
}

#turnPage5 {
    display: none;
}

#goBack6 {
    display: none;
}
